@*@using System
@using HsCentralServiceWeb._dbs.hsserver.centralservicedb.rows
@using HsCentralServiceWeb._sys
@using HsCentralServiceWeb._sys.hubs.webManagement
@using HsCentralServiceWeb._sys._extensions._razorExtensions
@{
	CsAjaxForm csAjaxForm;
}
@using (csAjaxForm = Ajax.Cs().Form("Partial_ConnectedClients", "Ring", null))
	{
		<div class="col-md-12">
			<h2>Connected Clients</h2>

			

			<table class="table table-striped table-sm">
				<thead>
				<tr>
					<th>Maschine</th>
					<th>Last Seen</th>
					<th>Status</th>
					<th>Loading</th>
					<th class="text-sm-center">Ring</th>
					<th class="text-sm-center">Programm</th>
				</tr>
				</thead>
				<tbody>
				@foreach (RemoteInstance client in Sys.Hubs.RingDistribution.ConnectedClients)
				{
					<tr class="text-justify text table-sm">
						<td >
							<span>@client.RemoteUser.RemoteComputer.Name</span>
						</td>
						<td >
							<small class="text-muted">@client.RemoteUser.Name > @client.RemoteApplication.Name >
								@client.LastSeen.ToString("ddd HH:mm:ss")
							</small>
						</td>
						<td>
							@if (client.RingPlayerManagement.PlayerData != null)
							{
								if (client.RingPlayerManagement.PlayerData.IsPlaying)
								{
									<span class="green icon-play icon-prev">@client.RingPlayerManagement.PlayerData.PlayingRingId wird gespielt</span>
								}
								else
								{
									<span class="red glyphicon glyphicon-stop"> kein Ring wird gespielt</span>
								}
								if (client.RingPlayerManagement.PlayerData.IsDownloading)
								{
									<br/>
									<span class="orange glyphicon glyphicon-download"> Ring @client.RingPlayerManagement.PlayerData.DownloadingRingId wird verarbeitet <br/>(@client.RingPlayerManagement.PlayerData.DownloadPhase.ToString())</span>
								}
							}
						</td>
						<td style="border-top: 1px solid rgba(0, 0, 0, 0.125)">
							<a href="#" onclick="ExecuteUrl.call(this,	event,	'@Url.Action("LoadInstanceArgs", "RingDistribution",
										                                                 new {id = client.Id})')" class="card-link"><span class="">laden</span></a>
						</td>
						<td style="border-top: 1px solid rgba(0, 0, 0, 0.125)">
							<a href="#" onclick="ExecuteUrl.call(this, event, '@Url.Action("GenerateRing", "RingDistribution", new {id = client.Id})')"
								class="card-link alert-link"><span class="glyphicon glyphicon-repeat"> Gen.</span></a>
							<a href="#" onclick="ExecuteUrl.call(this, event, '@Url.Action("GenerateRing", "RingDistribution", new {id = client.Id})')"
								class="card-link"><span class="glyphicon glyphicon-refresh"> Upd.</span></a>
						</td>
						<td style="border-top: 1px solid rgba(0, 0, 0, 0.125)">
							@if (client.RingPlayerManagement.PlayerData?.PlayingRingId != null)
							{
								<a href="@Url.Action("View", "Ring",
									         new {remoteInstanceId = client.Id, ringId = client.RingPlayerManagement.PlayerData?.PlayingRingId})"
									class="card-link"><span class="glyphicon glyphicon-list"> Anz.</span></a>
								<a href="@Url.Action("Download", "Ring",
									         new {remoteInstanceId = client.Id, ringId = client.RingPlayerManagement.PlayerData?.PlayingRingId})"
									class="card-link"><span class="glyphicon glyphicon-download"> Her.lad.</span></a>
							}
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	}

@WwwSurferNotificationHub.Attach_RingDistributionClientsChanged(csAjaxForm.Id)*@